<div class="bootstrap-wrapper">

    <div class="container">


        <div class="row">
            <div class="col-md-6 offset-md-3">

                <mat-card>
                    <h1 class="text-center"> Register here !!</h1>

                    <form (ngSubmit)="formSubmit()">
                        <!-- {{ user | json}} -->
                        <!-- username fileld -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>User Name</mat-label>
                            <input required [(ngModel)]="user.username" name="username" matInput
                                placeholder="enter here">
                            <mat-hint> username must be unique</mat-hint>

                        </mat-form-field>
                        <!-- passwors fileld -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input required [(ngModel)]="user.password" name="password" type="password" matInput
                                placeholder="enter here">


                        </mat-form-field>
                        <!-- first name -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input required [(ngModel)]="user.firstName" name="firstName" matInput
                                placeholder="enter here">


                        </mat-form-field>
                        <!-- lastname fileld -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input required [(ngModel)]="user.lastName" name="lastName" matInput
                                placeholder="enter here">


                        </mat-form-field>
                        <!-- email -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input required [(ngModel)]="user.email" name="email" type="email" matInput
                                placeholder="enter here">


                        </mat-form-field>
                        <!-- phone -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>phone</mat-label>
                            <input required [(ngModel)]="user.phone" name="phone" type="number" matInput
                                placeholder="enter here">


                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Pin Code</mat-label>
                            <input required [(ngModel)]="user.pincode" name="pincode" type="number" matInput
                                placeholder="enter here">


                        </mat-form-field>


                        <div class="container text-center">

                            <button type="submit" mat-raised-button color="primary">Register</button>


                            <button style="margin-left:20px" mat-raised-button color="accent">Clear</button>



                        </div>

                    </form>

                </mat-card>

            </div>
        </div>
    </div>


</div>>