<div class="bootstrap-wrapper">

    <div class="container .bg-secondary">


        <div class="row mt20">

            <div class="col-md-10 offset-md-1">

                <mat-card>
                    <mat-grid-list cols="2" rowHeight="2:1">
                        <mat-grid-tile>
                            <img src="https://th.bing.com/th/id/OIP.5lEJUmqTN2d4mtZnlgJa8wHaKl?w=203&h=289&c=7&r=0&o=5&dpr=1.5&pid=1.7"
                                alt="image" height="300px" width="300px">
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <img src="https://th.bing.com/th/id/OIP._cmk3aW5vv0pOjIVOo6xPAHaHV?w=203&h=201&c=7&r=0&o=5&dpr=1.5&pid=1.7"
                                alt="image" height="300px" width="300px">
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <img src="https://th.bing.com/th/id/OIP.oxpsX-GvAlMabZq0Xa4CXAHaLH?w=203&h=304&c=7&r=0&o=5&dpr=1.5&pid=1.7"
                                alt="image" height="300ox" width="300px">
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <img src="https://th.bing.com/th/id/OIP.4pEAlkKIr5pipe_t7okBtwHaKS?pid=ImgDet&rs=1"
                                alt="image" height="300ox" width="300px">

                        </mat-grid-tile>

                    </mat-grid-list>
                    <div class=" mt-3 text-center">
                        <div>
                            <h1 style=" color: rgb(109, 4, 4); text-decoration: solid; display: block;">For More such
                                Result
                            </h1>
                       
                            <h3 style="color: rgb(105, 3, 3); text-decoration: solid; display:block;">Please <a
                                    [routerLink]="['/login']">Login</a></h3>
                        </div>
                    </div>
                </mat-card>




            </div>

        </div>
    </div>


</div>>